.card:hover .display {
    visibility: visible;
}
.icon-button-div {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}
.carddesign {
    width: 240px;
    margin-right: 15px;
    margin-top: 25px;
    height: 122px;
    border-radius: 10px;
}

.card:hover .display {
    visibility: visible;
}

.anicon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

