.setting-collapse {
    margin-left: 940px;
    margin-top: -10px;
}

    .setting-collapse a {
        color: #383838;
    }

.user-menu-design {
    width: 340px;
    height: 310px;
    margin-left: 900px;
}

    .user-menu-design div h5 {
        margin-top: 34px;
        color: #595959
    }


