#bookiconimg {
    margin-left: 30%;
    border-radius: 4px;
    margin-bottom: 3px
}

#bookstorelabel {
    font-size: 25px;
    margin-top: -32px;
    margin-left: 55%;
    margin-bottom: -1px;
}

#navbarst {
    margin-top: 1px;
    border-radius: 5px
}

#navfooter {
    margin-left: 40%;
    margin-bottom: -3px
}

#searchbar {
    margin-left: 15%;
    margin-right: 8%
}

#wishlist {
    margin-right: 7%;
}

.ratingdiv {
    display: flex;
    flex-direction: row;
    margin-bottom: -17px;
    margin-top: -13px;
}

.pricediv {
    display: flex;
    flex-direction: row;
    margin-bottom: -12px
}

.availablestockdiv {
    display: inline-flex;
    margin-top: -20px;
}

.cartwishlistdiv {
    margin-top: -12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.authorp {
    font-size: 12px;
    margin-top: -20px
}
